// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

#btn {
	padding-right: 45px;
	padding-left: 45px; 
}

#add-btn {
	padding: 20px;
	padding-right: 45px;
	padding-left: 45px;
	margin-bottom: 40px;
	display: list-item;
	opacity: 0.78;
}

#back-ui {
	display: flex;
  flex-direction: column;
  margin: 20px;
}