// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* row bounds: */
/* Single-line item: */
.list-items {
	h3 {
		font-family: .SFNSText;
		font-size: 16px;
		color: rgba(0,0,0,0.87);
		text-align: left;
		line-height: 24px;
	}
	
	/* Rectangle-path: */
	/*
	background: rgba(0,0,0,0.26);
	border-radious: 5px;
	 Oval: 
	background: rgba(0,0,0,0.26);
	/* row bounds: */

}

#back-ui {
	display: flex !important;
  flex-direction: column !important;
}